<div id="fh5co-project">
    <div class="container">
        <div class="row row-pb-md">
            <div class="col-md-8 col-md-offset-2 text-left fh5co-heading  animate-box">
                <span>Want Some Cool Stuff</span>
                <h2>About</h2>
                <br />
                <h1>Outsource specialist</h1>
                <p>
                    Delivering HR support through an effective, budget‐friendly model.
                    Working together with our clients in a mutually beneficial manner in
                    order to strengthen or improve the functions of your business.
                    Linkneat  analyze each situation then locates top fresh talents
                    and competitive spirit who possess the skills and experience  you
                    need as an employer. Linkneat is your head-hunting tool.
                    We take our informal interview tools to shorten the recruitment
                    selection process for you.
                    Linkneat believes our clients are partners in business and values your
                    time and expectations.
                    We offer services that can help any company. Whether it is direct placement,
                    online translation, interpretation and or consulting.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
                <a href="#">
                    <img src="~/Content/mFile/images/about_1.png" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive">
                    <div class="fh5co-copy">
                        <h3>Clipboard Office</h3>
                        <p>Web Design</p>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
                <a href="#">
                    <img src="~/Content/mFile/images/about_2.png" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive">
                    <div class="fh5co-copy">
                        <h3>Smart Layers</h3>
                        <p>Brand &amp; Identity</p>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
                <a href="#">
                    <img src="~/Content/mFile/images/about_3.png" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive">
                    <div class="fh5co-copy">
                        <h3>Notepad Mockup</h3>
                        <p>Illustration</p>
                    </div>
                </a>
            </div>

        </div>
    </div>
</div>

