<footer id="fh5co-footer" role="contentinfo">
    <div class="container">
        <div class="row row-pb-md">
            <div class="col-md-4 fh5co-widget ">
                <h3>LINKNEAT.</h3>
                <p>
                    Delivering HR support through an effective, budget‐friendly model.
                    Working together with our clients in a mutually beneficial manner in
                    order to strengthen or improve the functions of your business.
                </p>
                <p><a href="#">Learn More</a></p>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1 justify-content-end">
                <ul class="fh5co-footer-links">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Service</a></li>
                    <li><a href="#">Gallery</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Privacy</a></li>
                </ul>
            </div>
        </div>

        <div class="row copyright">
            <div class="col-md-12 text-center">
                <p>
                    <small class="block">
                        &copy; 2021 All Rights Reserved.
                        Designed by <a href="#" target="_blank">Yaqub Rahmani</a>
                    </small>
                </p>
                <p>
                    <ul class="fh5co-social-icons">
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-linkedin"></i></a></li>
                        <li><a href="#"><i class="icon-dribbble"></i></a></li>
                    </ul>
                </p>
            </div>
        </div>

    </div>
</footer>
