
<div id="fh5co-counter">
    <div class="container">
        <div class="row animate-box" data-animate-effect="fadeInUp">
            <div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
                <span>Enjoy it</span>
                <h2>Photo Gallery</h2>
                <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
            </div>
        </div>

    </div>

    <!-- Start  Photo Gallery -->
    <div id="gallery" class="gallery-box">
        <div class="container-fluid">
            <div class="row">
                <ul class="popup-gallery clearfix">
                    <li>
                        <a href="~/Content/Gallery/photo/PhotoGallery_1.png">
                            <img class="img-fluid" src="~/Content/Gallery/photo/PhotoGallery_1.png" alt="Imag">
                            <span class="overlay"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                        </a>
                    </li>
                    <li>
                        <a href="~/Content/Gallery/photo/PhotoGallery_2.png">
                            <img class="img-fluid" src="~/Content/Gallery/photo/PhotoGallery_2.png" alt="single image">
                            <span class="overlay"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                        </a>
                    </li>
                    <li>
                        <a href="~/Content/Gallery/photo/PhotoGallery_3.png">
                            <img class="img-fluid" src="~/Content/Gallery/photo/PhotoGallery_3.png" alt="single image">
                            <span class="overlay"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                        </a>
                    </li>
                    <li>
                        <a href="~/Content/Gallery/photo/PhotoGallery_4.png">
                            <img class="img-fluid" src="~/Content/Gallery/photo/PhotoGallery_4.png" alt="single image">
                            <span class="overlay"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                        </a>
                    </li>
                    <li>
                        <a href="~/Content/Gallery/photo/PhotoGallery_5.png">
                            <img class="img-fluid" src="~/Content/Gallery/photo/PhotoGallery_5.png" alt="single image">
                            <span class="overlay"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                        </a>
                    </li>
                    <li>
                        <a href="~/Content/Gallery/photo/PhotoGallery_6.png">
                            <img class="img-fluid" src="~/Content/Gallery/photo/PhotoGallery_6.png" alt="single image">
                            <span class="overlay"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                        </a>
                    </li>
                    <li>
                        <a href="~/Content/Gallery/photo/PhotoGallery_7.png">
                            <img class="img-fluid" src="~/Content/Gallery/photo/PhotoGallery_7.png" alt="single image">
                            <span class="overlay"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                        </a>
                    </li>
                    <li>
                        <a href="~/Content/Gallery/photo/PhotoGallery_8.png">
                            <img class="img-fluid" src="~/Content/Gallery/photo/PhotoGallery_8.png" alt="single image">
                            <span class="overlay"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Gallery -->

</div>


