
@{
    ViewBag.Title = "Service";
    Layout = "~/Views/Shared/_LayputPage.cshtml";
}

<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image: url(/Content/PhotoHomeInfo/sideCompanyInfo500x220.png); margin-bottom: 100px;" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-7 text-left">
                <div class="display-t">
                    <div class="display-tc animate-box" data-animate-effect="fadeInUp">
                        <h1 class="mb30">Contact Us</h1>
                        <h4 class="mb30 text-muted">Over the phone or online</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div id="fh5co-services" class="fh5co-bg-section border-bottom">
    <div class="container">
        <div class="row row-pb-md">
            <div class="col-md-8 col-md-offset-2 text-left animate-box" data-animate-effect="fadeInUp">
                <div class="fh5co-heading">
                    <span>We're expert</span>
                    <h2>What We Do</h2>
                    <p>
                        Linkneat is your outsource solution to strengthen or improve your business. We work to locate top fresh talent and competitive spirit who possess the skills and experience you need; if you succeed, we succeed. We act as your partner in business and head-hunt on your behave.  We find, and encourage potential professional, skilled applicant to join your team.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 ">
                <div class="feature-center animate-box" data-animate-effect="fadeInUp">
                    <span class="icon">
                        <i class="icon-eye"></i>
                    </span>
                    <h3>Retina Ready</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p><a href="#">Learn more</a></p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 ">
                <div class="feature-center animate-box" data-animate-effect="fadeInUp">
                    <span class="icon">
                        <i class="icon-command"></i>
                    </span>
                    <h3>Fully Responsive</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p><a href="#">Learn more</a></p>
                </div>
            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="col-md-4 col-sm-6 ">
                <div class="feature-center animate-box" data-animate-effect="fadeInUp">
                    <span class="icon">
                        <i class="icon-power"></i>
                    </span>
                    <h3>Web Starter</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p><a href="#">Learn more</a></p>
                </div>
            </div>

            <div class="clearfix visible-md-block"></div>

            <div class="col-md-4 col-sm-6 ">
                <div class="feature-center animate-box" data-animate-effect="fadeInUp">
                    <span class="icon">
                        <i class="icon-eye"></i>
                    </span>
                    <h3>Retina Ready</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p><a href="#">Learn more</a></p>
                </div>
            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="col-md-4 col-sm-6 ">
                <div class="feature-center animate-box" data-animate-effect="fadeInUp">
                    <span class="icon">
                        <i class="icon-command"></i>
                    </span>
                    <h3>Fully Responsive</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p><a href="#">Learn more</a></p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 ">
                <div class="feature-center animate-box" data-animate-effect="fadeInUp">
                    <span class="icon">
                        <i class="icon-power"></i>
                    </span>
                    <h3>Web Starter</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p><a href="#">Learn more</a></p>
                </div>
            </div>

            <div class="clearfix visible-md-block"></div>

        </div>
    </div>
</div>


<div id="fh5co-testimonial" class="fh5co-bg-section">
    <div class="container">
        <div class="row animate-box row-pb-md">
            <div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
                <span>best work experience for you</span>
                <h2>What We Offer</h2>
                <p>
                    We source top talent and experts you need.

                    We provide direct placement.

                    We specialize in providing cutting edge online, over the phone interpretation/Translation to improve cross cultural understanding by providing opportunities to leverage their expertise and facilitate cross cultural communications.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 animate-box">
                <div class="testimonial">
                    <blockquote>
                        <p>&ldquo;Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.&rdquo;</p>
                    </blockquote>
                </div>

                <div class="testimonial fh5co-selected">
                    <blockquote>
                        <p>&ldquo;Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius. Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.&rdquo;</p>
                    </blockquote>
                </div>
            </div>

            <div class="col-md-6 animate-box">
                <div class="testimonial fh5co-selected">
                    <blockquote>
                        <p>&ldquo;Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius. Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.&rdquo;</p>
                    </blockquote>
                </div>

                <div class="testimonial">
                    <blockquote>
                        <p>&ldquo;Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.&rdquo;</p>
                    </blockquote>
                </div>

            </div>



        </div>
    </div>
</div>


<div id="fh5co-counter">
    <div class="container">

        <div class="row animate-box" data-animate-effect="fadeInUp">
            <div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
                <span>Enjoy it</span>
                <h2>Available User</h2>
                <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
            </div>
        </div>

        <div class="row">

            <div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                <div class="feature-center">
                    <span class="icon">
                        <i class="ti-download"></i>
                    </span>
                    <span class="counter"><span class="js-counter" data-from="0" data-to="15" data-speed="1500" data-refresh-interval="50">1</span>M+</span>
                    <span class="counter-label">Completed project</span>

                </div>
            </div>
            <div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                <div class="feature-center">
                    <span class="icon">
                        <i class="ti-face-smile"></i>
                    </span>
                    <span class="counter"><span class="js-counter" data-from="0" data-to="120" data-speed="1500" data-refresh-interval="50">1</span>+</span>
                    <span class="counter-label">Work seekers experts</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                <div class="feature-center">
                    <span class="icon">
                        <i class="ti-briefcase"></i>
                    </span>
                    <span class="counter"><span class=" js-counter" data-from="0" data-to="90" data-speed="1500" data-refresh-interval="50">1</span>+</span>
                    <span class="counter-label">Work waiting</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                <div class="feature-center">
                    <span class="icon">
                        <i class="ti-time"></i>
                    </span>
                    <span class="counter"><span class="js-counter" data-from="0" data-to="12" data-speed="1500" data-refresh-interval="50">1</span>K+</span>
                    <span class="counter-label">Companies working together</span>

                </div>
            </div>

        </div>
    </div>
</div>
