<div class="col-xs-2 text-left">
    <div id="fh5co-logo"><a href="index.html">LINKNEAT<span>.</span></a></div>
</div>
<div class="col-xs-10 text-right menu-1">
    <ul>
        <li class="active"><a href="/sideHome/Index/">Home</a></li>
        <li><a href="/sideHome/Service/">Service</a></li>
        <li class="has-dropdown">
            <a href="#">Resume</a>
            <ul class="dropdown">
                <li><a href="/sideAddCompany/addSideCompany/" >Find Talent</a></li>
                <li><a href="/sideAddCompany/addSideEmployee/" >Find a Job</a></li>
            </ul>
        </li>
        <li><a href="/sideAlbum/Index/">Gallery</a></li>
        <li><a href="/sideHome/About/">About</a></li>
        <li><a href="/sideContact/Index/">Contact</a></li>
        <li class="ml-4"><a href="/Adminlar/LoginIN/">Login</a></li>
    </ul>    
</div>
